.div1{
    box-sizing: border-box;
    width:80px;
    height: 50px;
    display:inline-block;
    border-style:dotted;
    border-width:6px;
    padding:10px;
    margin-left:20px;
}
#div2{
    border-style:dashed;
}
#div3{
    border-style:solid;
}
#div4{
    border-style:double;
}
#div5{
    border-style:ridge;
}
#div6{
    border-style: inset;
}
#div7{
    border-style:none;
}
#div8{
    border-style:hidden;
}