*{
    margin:0px;
    padding:0px;
}

.first{
    border:2px green solid;
    box-sizing: border-box;
    padding-right:130px;
    padding-top:60px;
    color:rgb(18, 10, 10);
    text-align:right;
    height:500px;
}
#d{
    background-color: rgb(43, 0, 255);
    height: 25px;
    width:70px;
    border-radius:12px;
}
a[href]{
    color:red;
    font-size:15px
}
a[href]:hover{
    color:black;
}
#d:hover{
    cursor:pointer;
    color:black;
    background-color: pink;
    border-color:red;
}
#d:active{
    opacity:0.5;
}
a{
    text-decoration: none;
}
#travel1{
    height: 400px;
    float:left;
    padding-top:30px;
}
.help{
    box-sizing: border-box;
    border:2px red solid;
    height:400px;
    background-color: rgb(113, 159, 245);
}
.help1{
    text-align:center;
    color:white;
    border:2px solid green;
    
}
#h2{
    margin-left:350px;
}
.help2{
    margin-top:30px;
    box-sizing: border-box;
    height:250px;
    width:200px;
    float:left;
    border-radius:10px;
    
}
#h2,#h4{
    background-color: rgb(185, 201, 234);
}
#h3,#h5{
    background-color: rgb(147, 225, 199);
    opacity:0.5;
}
.m1{
    box-sizing: border-box;
    margin-top:20px;
    margin-left:30px;
    width:70px;
    border-radius:20px;
}
.content1{
    width:350px;
    height:430px;
     background-color: rgb(232, 236, 244);
     border-radius:20px;
    margin-left:400px;
    float:left;
}
.content2{
    width:350px;
    height:430px;
    float:left;
    background-color: rgb(232, 236, 244);
    border-radius:20px;
}
#p_content1{
    text-align:left;
    font-size:30px;
}
#button2{
    float:left;
    width:80px;
    height:30px;
    border-radius:15px;
    background-color: skyblue;
}
#second_span{
    text-align:left;
}
.park_div,#first_span{
  text-align:left;
  font-size:20px;
}
#park{
    margin-top:20px;
    margin-right:0px;
}
#div1_help{
    margin-left:400px;
}
.div1,.div2{
    float:left;
    margin-top:50px;
    border:1px solid black;
    width:350px;
    height:300px;
}
#travel_tree{
    margin:40px;
    border:none;
    border-radius:20px;
    opacity:0.5;
}
#p1_div2{
    font-size:30px;
    font-style:solid;
    color:whitesmoke;
}
#p_div2,#h3_div2{
    margin-top:30px;
    color:whitesmoke;
    text-align:center;
}
#p_div2{
    text-align:right;
}
#con2,#contact{
    background-color: white;
}
#contactus{
    text-align: center;
    font-size:30px;
    color:rgb(15, 166, 236);
    padding-top:30px;
    font-style: bold;
}
#big,#tel_logo{
    padding-top:60px;
    width:60px;
    float:left;
}
#c_imag{
    margin-right:10px;
    margin-top:70px;
    border-radius:10px;
    height:220px;
    opacity:0.7;
}

