p{
    background-color: blue;
    height:50px;
    width: 50px;
    margin-left:50vw;
    font-size: 40px;
}
button{
    font-size: 30px;
    background-color:#e67e22;
    border: none;
    margin:5px;
    height: 40px;
    width: 50px;
}
button:hover{
    background-color:#2980b9;
}
button:active{
    color:aliceblue;
}
