*{
    padding: 0;
    margin:0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #222;
}
.card{
    width:90%;
    max-width:470px;
    background:linear-gradient(135deg,#36967c,#5b548a);
    color:#fff;
    margin:100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.search input{
    border: 0;
    outline: 0;
    background:#ebfffc;
    color:#555;
    padding:10px 30px;
    border-radius:35px;
    height:50px;
    flex:1;
    margin-right:20px;
    font-size:18px;
}
.search button{
    border: 0;
    outline: 0;
    border-radius: 50%;
    width:50px;
    height: 50px;
    cursor:pointer;
}
.search button img{
    height:25px;
    background-color: #ebfffc;
}
.wheater-icon{
    width:180px;
    margin-top:20px;
}
.wheater h1{
    font-size:80px;
    font-weight: 500;
}
.wheater h2{
    font-size:50px;
    font-weight: 100;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
    margin-top:45px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col-icon{
    width:50px;
    margin-right: 5px;
}
.humidity,.wind{
    font-size: 28px;
}