header{
    background:rgb(255, 187, 0);
    height:3rem;
    display: flex;
    align-items: center;
    padding-left:10px;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;;
}
h1{
    color:white;
}
footer{
    position:fixed;
    bottom:0px;
    background-color: red;
    width:100%;
    z-index:500;
    text-align: center;
}
